body {
    margin: 0px 400px 0px;
    background: #000000;
    color: white;
    font-family: Consolas, sans-serif;
}

header {
    margin: 0;
    font-size: 25px;
}

header h1 {
    margin: 0;
    display: inline;
    
}


nav ul {
    margin: 0;
    display: inline;
    
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    
}

nav ul li a {
    color: white;
}

.nav__list {
    float: right;
    margin: 5px;
}

.bio {
    text-align: left;
    font-size: 20px;
}

/*links*/
a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: goldenrod;
}

/*Images*/
.me {
    height: 300px;
    float: right;
}

.dogs {
    height: 400px;
    width: 300px;
    float: right;
}

.con__list {
    margin: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}